<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Code</title>
    </head>
    <h1>Code :</h1><br><br>
    <%=UUID%><br><br>
    <%=FROM_URL%><br><br>
    <%=ENDTIME%><br><br>
    <%=TO_URL%><br><br>
    </body>
</html>