

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <script src="landing.js"></script>
        <link rel="stylesheet" href="landing.css"/>
        <title>landing</title>
    </head>

    <body>
        <div class="load">
            <div class="rond"></div>
            <div class="rond"></div>
            <div class="rond"></div>
            <div class="rond"></div>
        </div>
    </body>
</html>
