
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="java.js"></script>
        <title>UUID</title>
    </head>

    <body>

    </body>
</html>
